<ion-modal-view style="background: url(img/cadastra_produto.png) no-repeat center center; background-size: cover;">
  <ion-header-bar class="bar-stable bar bar-header bar-pneuz">
    <h1 class="title" style="color:#fff !important">Cadastre seu produto</h1>
    <button class="button button-icon fa fa-times" style="color:#fff !important" ng-click="modalCadastro.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <form novalidate ng-submit="cadastrarUsuario(formCadastro, dadosCadastro)" name="formCadastro">
      <div class="list">
        <label class="item item-input item-stacked-label" style="background-color: transparent; border:none;" >
          <span class="input-label" style="color:#006600;">Produto</span>
          <input type="text" style="background-color:transparent; border-bottom:1px solid #006600; width:96%; color:#006600;" name="produto" ng-model="dadosCadastro.produto">
        </label>
        <label class="item item-input item-stacked-label" style="background-color: transparent; border:none;" >
          <span class="input-label" style="color:#006600;">Empresa</span>
          <input type="text" style="background-color:transparent; border-bottom:1px solid #006600; width:96%; color:#006600;" name="empresa" ng-model="dadosCadastro.empresa">
        </label>
        <label class="item item-input item-stacked-label" style="background-color: transparent; border:none;" >
          <span class="input-label" style="color:#006600;">Tipo</span>
          <input type="text" style="background-color:transparent; border-bottom:1px solid #006600; width:96%; color:#006600;" id="tipo" name="tipo" ng-model="dadosCadastro.tipo">
        </label>
        <label class="item item-input item-stacked-label" style="background-color: transparent; border:none;" >
          <span class="input-label" style="color:#006600;">Ingrediente:<button class="button ion-camera" ng-click="tirarFoto()"></button></span>
          <input type="text" style="background-color:transparent; border-bottom:1px solid #006600; width:96%; color:#006600;" id="ingrediente" name="ingrediente" ng-model="dadosCadastro.ingrediente" >
        </label>
        <label class="item item-input item-stacked-label" style="background-color: transparent; border:none;" >
          <span class="input-label" style="color:#006600;">Código de Barras:<button class="button ion-camera" ng-click="scanBarcode()"></button></span>
          <input type="text" style="background-color:transparent; border-bottom:1px solid #006600; width:96%; color:#006600;" id="codigoDeBarras" name="codigoDeBarras" ng-model="dadosCadastro.codigoDeBarras" >
        </label>
        <label>
          <div class="padding">
            <button class="button button-block button-positive" style="margin-bottom:0;"><i class="fa fa-save"></i> Go vegan!</button>
          </div>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>

