<ion-view>
	<ion-nav-title  align-title="center">
		<img src="img/logo.png" height="80%" style="margin-top:5px;" alt="">
	</ion-nav-title>
  <ion-header-bar align-title="center" class="bar-subheader bar-inverse" align-title="center">
    <h1 class="title">Veganator</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list list-form-pesquisa">
            <p class="padding">Os VegaNators são voluntários que contribuem com a causa vegana ajudando a identificar novos produtos, conferir se os mesmos atendem aos critérios, identificação de novas listas, entre outras coisas.
Torne-se um VegaNator! Cadastre-se já!</p>

      </div>
        <div class="padding">
            <a ng-click="cadastreMe()"  class="button button-ancp button-block" "><i class="fa fa-search"></i> Go VeGo, quero ser um VeganNator!</a>
            <!--a ng-click="pesquisarunicoveganator()"  class="button button-ancp button-block" "><i class="fa fa-search"></i> Go VeGo, quero ser um VeganNator!</a-->

    </div>


    <div class="list list-form-pesquisa">
            <p class="padding">Se voce se cadastrou como VegaNator, podera acessar e comentar na lista de produtos cadastrados pelos usuarios Vego, clicando no botao abaixo. Se nao se cadastrou ainda, cadastra-se como VegaNator clicando no botao acima.</p>

      </div>
      <div class="padding">
        <a type="submit" class="button button-ancp button-block" ng-click="pesquisar2()"><i class="fa fa-search"></i> Go VeGo, ver os cadsatrados!</a>
                </div>




  </ion-content>

</ion-view>

